<%= error_messages_for 'quip' %>

<!--[form:quip]-->
<p><label for="quip_text">Text</label><br/>
<%= text_area 'quip', 'text'  %></p>

<p><label for="quip_lock_version">Lock version</label><br/>
<%= text_field 'quip', 'lock_version'  %></p>
<!--[eoform:quip]-->
