<%= error_messages_for 'user' %>

<!--[form:user]-->
<p><label for="user_name">Username</label><br/>
<%= text_field 'user', 'name'  %></p>

<p><label for="user_salt">Salt</label><br/>
<%= text_field 'user', 'salt'  %></p>

<!--[eoform:user]-->