<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Printable Resume - Shanmuga's Resume - Application Developer/Web Designer/Web Developer Resume</title>
<meta name="title" content="Printable Resume - Shanmuga's Resume - Application Developer/Web Designer/Web Developer Resume">
<meta name="description" content="This is a printable version of Shanmuga's's Resume who is a professional Application developer for Enterprise and Web Application.">
<meta name="keywords" content="web site developement resume, web designer resume, Enterprise Application Developer,GUI Developer using Java Swing, UK">
<meta name="rating" content="general">
<meta name="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="distribution" content="global">
<meta name="resource-type" content="document">
<meta name="robots" content="index,follow">
<meta name="last-modified" content="2009/04/15">
<meta name="revisit-after" content="10_days">
<%= stylesheet_link_tag "common" %>
	<%= stylesheet_link_tag "niftyCorners" %>
	<%= javascript_include_tag "h_menu.js" %>
	</head>
<body align="center">
<div id="divcontainer">
<%= render :partial => '/includes/header' %>
<table width ="90%" border="1" cellpadding="1" cellspacing="1" >
	<tr>
		<td nowrap>
		<%= render :partial => 'shanmuga'%>	
		</td>
	</tr>
</table>   
</div> 
			


<div id="footer"><p>&copy; 2009 &mdash; Buy Ticket Ltd. All Rights Reserved.</p></div>

</div>
</body>
</html>
