<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Buy Ticket - Online tickets for Movie, Sports, Drama, Magic Shows,Local Events...</title>

<script type="text/javascript">
function changeState(country)
{
	if (country.value == "US") {
		document.getElementById('sel_state').value = "";
		document.getElementById('sel_state').disabled = false;
	} else {
		document.getElementById('sel_state').value = "NA";
		document.getElementById('sel_state').disabled = true;
	}
}
</script>
<%= stylesheet_link_tag "common" %>
	<%= stylesheet_link_tag "niftyCorners" %>
	<%= stylesheet_link_tag "calendar-rfq" %>
	<%= stylesheet_link_tag "ffDemo" %>
	
	<%= javascript_include_tag "h_menu.js" %>
	<%= javascript_include_tag "niftycube.js" %>
	<%= javascript_include_tag "/jscalendar/calendar.js" %>
	<%= javascript_include_tag "/jscalendar/calendar-setup.js" %>
	<%= javascript_include_tag "/jscalendar/lang/calendar-en.js" %>
	<%= javascript_include_tag "jquery.js" %>
	<%= javascript_include_tag "interface.js" %>
	<%= javascript_include_tag "fastFind.js" %>
</head>
<body>
	
<div id="divcontainer">
<%= render :partial => '/includes/header' %>

<div id="content_part">
<div id="left_part">
 <script type="text/javascript">
 jQuery(function(){
 		jQuery('div#ifM_wrapper_1').fastFind(
 		{
 			url:	'../includes/',
 			params:	{ 'current':1,'previous':false,'apiKey':'bd51b064875' }
 		});
 		jQuery('.ifM_header a').click(function () {
 			var el = jQuery(this).parents('div.ifM_box').get(0);
 			jQuery(el).fastFindToggle(true);
 			return false;
 		});
 });
 </script>
 <div id="leftbox">
                        <h1 class="aligntext">Browse Categories</h1>
                        
                        <div class="ifM_content">
                            <p><%= link_to "Movie", :controller => 'buyticket', :action => 'movie_home' %></p>
   <p><%= link_to "Drama", :controller => 'buyticket', :action => 'drama' %></>
   <p><%= link_to "Sports", :controller => 'buyticket', :action => 'sports' %></p>
   <p><%= link_to "Music", :controller => 'buyticket', :action => 'music' %></p>
   <p><%= link_to "Hot Event", :controller => 'buyticket', :action => 'local_event' %></p>
   <p><%= link_to "My Resume", :controller => 'buyticket', :action => 'index' %></p>
						</div>
                        <div class="ifM_pager">
                            <a href="#" rel="Down" title="Scroll Down" style="display:none"><img src="/resources/images/arrow_dn.gif" alt="Scroll Up"/></a>
                        </div>
                        <div class="ifM_back">
                            <a href="http://{'previous':1}">« Back</a>
                        </div>
                    </div>
                </div>
<div id="middle_part">
<div id="openbox">
  <h1 class="aligntext">Register as Candidate</h1>
  <div id="middlealign_subhead">
    <form name="registerform" id="registerform">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
     <tr class="title">
         <td><span class="view">candidate Login Details</span></td>
       </tr>
       <tr>
       <td>
        <table border="0" cellpadding="0" cellspacing="0" width="90%" align="center">
        <tr><td height="5px" colspan="2"></td></tr>
         <tr>
          <td valign="top" width="21%">User Name</td>
       <td><input type="text" value="" maxlength="50" name="in_username" id="in_username" size="20" class="label"/></td>
     </tr>
     <tr>
      <td valign="top">Password</td>
       <td><input type="password" value="" maxlength="50" name="in_password" id="in_password" size="20" /></td>
     </tr>
     <tr>
          <td valign="top">Confirm Password</td>
       <td><input type="password" value="" maxlength="50" name="in_confirmpassword" id="in_confirmpassword" size="20" /></td>
     </tr>
        <tr><td colspan="2" height="10"></td></tr>
       </table>
      </td>
      </tr>
      <tr class="title">
        <td><span class="view">Personal Details</span></td>
      </tr>
     <tr>
       <td>
        <table border="0" cellpadding="0" cellspacing="0" width="90%" align="center">
        <tr><td height="5px" colspan="2"></td></tr>
        <tr>
         <td valign="top" width="21%">First Name</td>
      <td><input type="text" value="" maxlength="50" name="in_firstname" id="in_firstname" size="20" /></td>
      </tr>
      <tr>
      	 <td valign="top">Last Name</td>
      		<td><input type="text" value="" maxlength="50" name="in_lastname" id="in_lastname" size="20" /></td>
     </tr>
     <tr>
      <td valign="top">Email</td>
         <td><input type="text" value="" maxlength="100" name="in_email" id="in_email" size="30" /></td>
     </tr>
     <tr>
         <td valign="top">Confirm Email</td>
      <td><input type="text" value="" maxlength="100" name="in_confirmemail" id="in_confirmemail" size="30" /></td>
     </tr>
     <tr>
         <td valign="top">Date of Birth</td>
         <td><input type="text" size="10" name="in_birthdate" id="in_birthdate" />
	     <img src="../images/cal.gif" align="absmiddle" id="birth_date_img" class="date_img" /></td>
     </tr>
     <tr>
      <td valign="top">Address 1</td>
      <td><input type="text" value="" maxlength="100" name="in_street1" id="in_street1" size="30" /></td>
     </tr>
     <tr>
	       <td valign="top">Address 2</td>
	       <td><input type="text" value="" maxlength="100" name="in_street2" id="in_street2" size="30" /></td>
     </tr>

     <tr>
      <td valign="top">City</td>
      <td><input type="text" value="" name="in_city" id="in_city" maxlength="50" size="20" /></td>
     </tr>
     <tr>
          <td valign="top">Zip Code</td>
      <td><input type="text" value="" maxlength="8" name="in_zipcode" id="in_zipcode" size="10" /></td>
     </tr>
     <tr>
      <td valign="top">Country</td>
      <td>
           <select name="sel_country" id="infoheight" onchange="changeState(this);">
      <option value="">Select Country</option>
  <option value="AF">Afghanistan</option>
  <option value="AX">Aland Islands</option>
  <option value="AL">Albania</option>
  <option value="DZ">Algeria</option>
  <option value="AS">American Samoa</option>
  <option value="AD">Andorra</option>
  <option value="AO">Angola</option>
  <option value="AI">Anguilla</option>
  <option value="AQ">Antarctica</option>
  <option value="AG">Antigua and Barbuda</option>

  <option value="AR">Argentina</option>
  <option value="AM">Armenia </option>
  <option value="AW">Aruba</option>
  <option value="AU">Australia</option>
  <option value="AT">Austria</option>
  <option value="AZ">Azerbaijan</option>
  <option value="BS">Bahamas</option>

  <option value="BH">Bahrain</option>
  <option value="BD">Bangladesh</option>
  <option value="BB">Barbados</option>
  <option value="BY">Belarus</option>
  <option value="BE">Belgium </option>
  <option value="BZ">Belize</option>
  <option value="BJ">Benin</option>

  <option value="BM">Bermuda</option>
  <option value="BT">Bhutan </option>
  <option value="BO">Bolivia</option>
  <option value="BA">Bosnia and Herzegovina </option>
  <option value="BW">Botswana</option>
  <option value="BV">Bouvet Island</option>
  <option value="BR">Brazil</option>

  <option value="IO">British Indian Ocean Territory</option>
  <option value="BN">Brunei </option>
  <option value="BG">Bulgaria </option>
  <option value="BF">Burkina Faso</option>
  <option value="BI">Burundi </option>
  <option value="KH">Cambodia </option>
  <option value="CM">Cameroon </option>

  <option value="CA">Canada</option>
  <option value="CV">Cape Verde </option>
  <option value="KY">Cayman Islands</option>
  <option value="CF">Central African Republic </option>
  <option value="TD">Chad </option>
  <option value="CL">Chile</option>
  <option value="CN">China </option>

  <option value="CX">Christmas Island</option>
  <option value="CC">Cocos Islands</option>
  <option value="CO">Colombia</option>
  <option value="KM">Comoros</option>
  <option value="CG">Congo</option>
  <option value="CK">Cook Islands</option>

  <option value="CR">Costa Rica </option>
  <option value="HR">Croatia </option>
  <option value="CU">Cuba</option>
  <option value="CY">Cyprus </option>
  <option value="CZ">Czech Republic </option>
  <option value="DK">Denmark</option>

  <option value="DJ">Djibouti</option>
  <option value="DM">Dominica</option>
  <option value="DO">Dominican Republic</option>
  <option value="EC">Ecuador</option>
  <option value="EG">Egypt</option>
  <option value="SV">El Salvador</option>
  <option value="GQ">Equatorial Guinea </option>

  <option value="ER">Eritrea </option>
  <option value="EE">Estonia</option>
  <option value="ET">Ethiopia </option>
  <option value="FK">Falkland Islands</option>
  <option value="FO">Faroe Islands</option>
  <option value="FJ">Fiji</option>
  <option value="FI">Finland </option>

  <option value="FR">France</option>
  <option value="GF">French Guiana</option>
  <option value="PF">French Polynesia</option>
  <option value="TF">French Southern Territories</option>
  <option value="GA">Gabon</option>
  <option value="GM">Gambia</option>
  <option value="GE">Georgia </option>

  <option value="DE">Germany </option>
  <option value="GH">Ghana</option>
  <option value="GI">Gibraltar</option>
  <option value="GR">Greece </option>
  <option value="GL">Greenland</option>
  <option value="GD">Grenada</option>
  <option value="GP">Guadeloupe</option>

  <option value="GU">Guam</option>
  <option value="GT">Guatemala</option>
  <option value="GG">Guernsey</option>
  <option value="GN">Guinea </option>
  <option value="GW">Guinea-Bissau </option>
  <option value="GY">Guyana</option>
  <option value="HT">Haiti </option>

  <option value="HM">Heard Island and McDonald Islands</option>
  <option value="HN">Honduras</option>
  <option value="HK">Hong Kong</option>
  <option value="HU">Hungary </option>
  <option value="IS">Iceland </option>
  <option value="IN">India</option>
  <option value="ID">Indonesia</option>

  <option value="IR">Iran </option>
  <option value="IQ">Iraq </option>
  <option value="IE">Ireland</option>
  <option value="IL">Israel </option>
  <option value="IT">Italy </option>
  <option value="JM">Jamaica</option>

  <option value="JP">Japan </option>
  <option value="JE">Jersey</option>
  <option value="JO">Jordan </option>
  <option value="KZ">Kazakhstan </option>
  <option value="KE">Kenya</option>
  <option value="KI">Kiribati</option>
  <option value="KW">Kuwait </option>

  <option value="KG">Kyrgyzstan </option>
  <option value="LA">Laos </option>
  <option value="LV">Latvia </option>
  <option value="LB">Lebanon </option>
  <option value="LS">Lesotho</option>
  <option value="LR">Liberia</option>
  <option value="LY">Libya </option>

  <option value="LI">Liechtenstein</option>
  <option value="LT">Lithuania </option>
  <option value="LU">Luxembourg</option>
  <option value="MO"> Macao</option>
  <option value="MK">Macedonia </option>
  <option value="MG">Madagascar </option>
  <option value="MW">Malawi</option>

  <option value="MY">Malaysia</option>
  <option value="MV">Maldives </option>
  <option value="ML">Mali</option>
  <option value="MT">Malta</option>
  <option value="MH">Marshall Islands</option>
  <option value="MQ">Martinique</option>
  <option value="MR">Mauritania </option>

  <option value="MU">Mauritius</option>
  <option value="YT">Mayotte</option>
  <option value="MX">Mexico</option>
  <option value="FM">Micronesia</option>
  <option value="MD">Moldova</option>
  <option value="MC">Monaco</option>
  <option value="MN">Mongolia </option>

  <option value="ME">Montenegro </option>
  <option value="MS">Montserrat</option>
  <option value="MA">Morocco </option>
  <option value="MZ">Mozambique </option>
  <option value="MM">Myanmar</option>
  <option value="NA">Namibia</option>
  <option value="NR"> Nauru </option>

  <option value="NP">Nepal </option>
  <option value="NL">Netherlands</option>
  <option value="AN"> Netherlands Antilles</option>
  <option value="NC">New Caledonia</option>
  <option value="NZ">New Zealand</option>
  <option value="NI">Nicaragua</option>
  <option value="NE">Niger</option>

  <option value="NG">Nigeria</option>
  <option value="NU">Niue</option>
  <option value="NF">Norfolk Island</option>
  <option value="MP">Northern Mariana Islands</option>
  <option value="KP">North Korea </option>
  <option value="NO">Norway </option>
  <option value="OM">Oman </option>

  <option value="PK">Pakistan </option>
  <option value="PW">Palau </option>
  <option value="PS">Palestinian Territory</option>
  <option value="PA">Panama </option>
  <option value="PG">Papua New Guinea</option>
  <option value="PY">Paraguay</option>
  <option value="PE">Peru </option>

  <option value="PH">Philippines </option>
  <option value="PN">Pitcairn</option>
  <option value="PL">Poland </option>
  <option value="PT">Portugal</option>
  <option value="PR">Puerto Rico</option>
  <option value="QA">Qatar </option>
  <option value="RE">Reunion</option>

  <option value="RO">Romania </option>
  <option value="RU"> Russia </option>
  <option value="RW">Rwanda</option>
  <option value="SH">Saint Helena</option>
  <option value="KN">Saint Kitts and Nevis</option>
  <option value="LC">Saint Lucia</option>
  <option value="PM">Saint Pierre and Miquelon</option>

  <option value="VC">Saint Vincent and the Grenadines</option>
  <option value="WS">Samoa</option>
  <option value="SM">San Marino</option>
  <option value="SA">Saudi Arabia </option>
  <option value="SN">Senegal </option>
  <option value="RS">Serbia </option>

  <option value="CS">Serbia and Montenegro </option>
  <option value="SC">Seychelles</option>
  <option value="SL">Sierra Leone</option>
  <option value="SG">Singapore</option>
  <option value="SK">Slovakia </option>
  <option value="SI">Slovenia </option>
  <option value="SB">Solomon Islands</option>

  <option value="SO">Somalia </option>
  <option value="ZA">South Africa </option>
  <option value="GS">South Georgia and the South Sandwich Islands</option>
  <option value="KR">South Korea </option>
  <option value="ES">Spain </option>
  <option value="LK">Sri Lanka</option>
  <option value="SD">Sudan </option>

  <option value="SR">Suriname</option>
  <option value="SJ">Svalbard and Jan Mayen</option>
  <option value="SZ">Swaziland</option>
  <option value="SE">Sweden </option>
  <option value="CH">Switzerland </option>
  <option value="SY">Syria </option>
  <option value="TW">Taiwan </option>

  <option value="TJ">Tajikistan</option>
  <option value="TZ">Tanzania</option>
  <option value="TH">Thailand</option>
  <option value="TL">Timor-Leste</option>
  <option value="TG">Togo</option>
  <option value="TK">Tokelau</option>
  <option value="TO">Tonga</option>

  <option value="TT">Trinidad and Tobago</option>
  <option value="TN">Tunisia </option>
  <option value="TR">Turkey(</option>
  <option value="TM">Turkmenistan </option>
  <option value="TC">Turks and Caicos Islands</option>
  <option value="TV">Tuvalu</option>
  <option value="UG">Uganda</option>

  <option value="UA">Ukraine</option>
  <option value="AE">United Arab Emirates </option>
  <option value="GB">United Kingdom</option>
  <option value="US" selected>United States</option>
  <option value="UM">United States minor outlying islands</option>
  <option value="UY">Uruguay</option>
  <option value="UZ">Uzbekistan </option>

  <option value="VU">Vanuatu</option>
  <option value="VA">Vatican City </option>
  <option value="VE">Venezuela</option>
  <option value="VN">Vietnam </option>
  <option value="VG">Virgin Islands, British </option>
  <option value="VI">Virgin Islands, U.S. </option>
  <option value="WF">Wallis and Futuna</option>

  <option value="EH"> Western Sahara </option>
  <option value="YE">Yemen </option>
  <option value="ZM">Zambia</option>
  <option value="ZW">Zimbabwe</option>
       </select></td>
      </tr>
      <tr>
      <td valign="top">State</td>
           <td><select name="sel_state" id="infoheight">
      <option value="">Select State</option>
      <option value="AL">Alabama</option>
      <option value="AK">Alaska</option>

      <option value="AZ">Arizona</option>
      <option value="AR">Arkansas</option>
      <option value="CA">California</option>
      <option value="CO">Colorado</option>
      <option value="CT">Connecticut</option>
      <option value="DC">D.C.</option>

      <option value="DE">Delaware</option>
      <option value="FL">Florida</option>
      <option value="GA">Georgia</option>
      <option value="HI">Hawaii</option>
      <option value="ID">Idaho</option>
      <option value="IL">Illinois</option>

      <option value="IN">Indiana</option>
      <option value="IA">Iowa</option>
      <option value="KS">Kansas</option>
      <option value="KY">Kentucky</option>
      <option value="LA">Louisiana</option>
      <option value="ME">Maine</option>

      <option value="MD">Maryland</option>
      <option value="MA">Massachusetts</option>
      <option value="MI">Michigan</option>
      <option value="MN">Minnesota</option>
      <option value="MS">Mississippi</option>
      <option value="MO">Missouri</option>

      <option value="MT">Montana</option>
      <option value="NE">Nebraska</option>
      <option value="NV">Nevada</option>
      <option value="NH">New Hampshire</option>
      <option value="NJ">New Jersey</option>
      <option value="NM">New Mexico</option>

      <option value="NY">New York</option>
      <option value="NC">North Carolina</option>
      <option value="ND">North Dakota</option>
      <option value="OH">Ohio</option>
      <option value="OK">Oklahoma</option>
      <option value="OR">Oregon</option>

      <option value="PA">Pennsylvania</option>
      <option value="RI">Rhode Island</option>
      <option value="SC">South Carolina</option>
      <option value="SD">South Dakota</option>
      <option value="TN">Tennessee</option>
      <option value="TX">Texas</option>

      <option value="UT">Utah</option>
      <option value="VT">Vermont</option>
      <option value="VA">Virginia</option>
      <option value="WA">Washington</option>
      <option value="WV">West Virginia</option>
      <option value="WI">Wisconsin</option>

      <option value="WY">Wyoming</option>
      <option value="">Not Applicable</option>
       </select></td>
     </tr>
     <tr>
      <td valign="top"><em>Company</em></td>
      <td><input type="text" value="" name="in_company" id="in_company" maxlength="50" size="20" /></td>
     </tr>
     <tr>
           <td valign="top"><em>Telephone Number</em></td>
      <td><input type="text" value="" name="in_telephone" id="in_telephone" maxlength="15" size="20" /></td>
     </tr>
     <tr>
           <td valign="top"><em>Fax Number</em></td>
      <td><input type="text" value="" name="in_fax" id="in_fax" maxlength="15" size="20" /></td>
     </tr>
     <tr>
      <td valign="top"><em>Website</em></td>
      <td><input type="text" value="" name="in_website" id="in_website" maxlength="50" size="20" /></td>
     </tr>
     <tr>
      <td valign="top"><em>Comments</em></td>
	       <td><textarea name="in_comments" id="in_comments" cols="46" rows="8" /></textarea></td>
         </tr>
         <tr>
	       <td rowspan="3" valign="top">Word Verification</td>
	       <td><img src="../images/SecurityImage.jpg" height="35"/></td>
     </tr>
     <tr>
          <td>Type the characters you see in the picture above.</td>
      </tr>
      <tr>
	   <td><input id="in_security_code" name="in_security_code" type="text" maxlength="5" size="10"/></td>
      </tr>
     <tr>
      <td>&nbsp;</td>
      <td><input type="checkbox" class="checkbox" value="" name="cb_terms" id="cb_terms" /> I agree to the <a href="#" class="a2">Terms and Conditions</a></td>
     </tr>
     <tr>
      <td valign="top">&nbsp;</td>
           <td><input type="submit" name="in_submit" id="in_submit" class="btn_yellow" value="Submit" />
        <input type="reset" class="btn_yellow" value="Reset" name="in_reset" id="in_reset" />
      </td>
     </tr>
    </table>
        </td>
       </tr>
      </table>
     </form>
 </div>
 </div>
</div>
<div id="right_part">
 <div id="rightbox">
   <h1 class="aligntext">Login / Register</h1>
    <table width="94%" align="center" border="0" cellpadding="2" cellspacing="0">
     <tr>
      <td class="smalltxt">Candidate:</td>
      <td align="right"><%= link_to "Login",:controller => 'login', :action =>'login' %>&nbsp;|&nbsp;<%= link_to "Register",:controller => 'buyticket', :action =>'register' %></td>
     </tr>
     <tr>
      <td class="smalltxt">Staff:</td>
      <td align="right"><%= link_to "Login",:controller => 'login', :action =>'login' %>&nbsp;|&nbsp;<%= link_to "Register",:controller => 'buyticket', :action =>'register' %></td>
     </tr>
    </table>
   </div>
 
 <div id="rightbox_adv">
   <div id="rightalign_adv">
   	<h1>India Top Player</h1>
    <a href="#"><img src="../images/news05_81.jpg" width="160" /></a>
   </div>
 </div>

 <div id="rightbox_adv">
   <div id="rightalign_adv">
   	<h1>New Release</h1>
    <a href="#"><img src="../images/Arundhathi.jpg" width="160" /></a>
   </div>
 </div>
</div>
</div>
<div id="footer"><p>&copy; 2009 &mdash; Buy Ticket Ltd. All Rights Reserved.</p></div>

</body>
<script type="text/javascript">
Calendar.setup({
  inputField    : "in_birthdate",
  button        : "birth_date_img",
  align         : "Br",
  weekNumbers   : false,
  ifFormat      : "%m/%d/%y"
});
</script>
</html>